<div style="text-align: right;">  
  <% if logged_in? %>
    <p>Welcome,<b><%= current_user.email %>!</b></p>
    <b>
      <%= link_to "GuruTest", root_path %>
      <%= link_to "Logout", logout_path %>
    </b>
    <% else %>
    <b>
      <%= link_to "Signup", signup_path %>
      <%= link_to "Login",login_path %>
    </b>
  <% end %>
</div>     