<h1>Тест по <%= @test.title %></h1>

<ul>
   <li>Уровень теста:<%= @test.level %></li>
   <li>Вопросов:<%= @test.questions.count %> </li>
</ul>   

<%= link_to "Back", tests_path %> | 
<%= link_to "Delete test", test_path(@test), method: :delete, data: {confirm: "Точно xочешь удалить?"} %> | 
<%=link_to "Create question", new_test_question_path(@test) %>