<h1>Тест по <%= @test.title %></h1>

<h2>
  <p>
    Уровень теста:<%= @test.level %><br>
    Количество вопросов:<%= @test.questions.count %> 
  <p>
</h2>   

<%= render @test.questions %>  


<%= link_to "Back", tests_path %> | 
<%=link_to "Create question", new_test_question_path(@test) %>